@model NuevoHogar.ModeloAuxiliar.UsuarioAuxiliar

@{
    ViewData["Title"] = "Página de inicio";
}

<div class="container-fluid">

    <form class="form-inline" asp-action="Registrar" asp-controller="Acceso">
        <div class="row">
            <div class="col-12">

                <div class="card-body">
                    
                    <div class="row">
                        <div class="text-center">
                            <h1 class="display-4">Registro de usuario</h1>
                        </div>
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-4 col-md-4">
                                    <p>Seleccione el tipo de usuario: </p>
                                </div>
                                
                                <div class="col-md-8">
                                    @foreach (var item in Model.Roles!)
                                    {
                                        if(item.Nombre == "Refugio"){
                                            <input asp-for="RolSeleccionado" type="radio" value="@item.IdRol" checked/> @item.Nombre
                                        }else{
                                            <input asp-for="RolSeleccionado" type="radio" value="@item.IdRol"/> @item.Nombre
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="Nombre" class="text-danger">
                                    
                            </div>
                            <label for="txtNombre">Nombre:</label>
                            <input type="text" asp-for="Nombre" class="form-control" id="txtNombre" placeholder="Ingresa tu nombre completo" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="CorreoElectronico" name="val" class="text-danger">
                                    
                            </div>
                            <label for="txtCorreo">Correo electrónico:</label>
                            <input type="email" asp-for="CorreoElectronico" class="form-control" id="txtCorreo" placeholder="Ingresa tu correo electrónico" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="Direccion" class="text-danger">
                                    
                            </div>
                            <label for="txtDireccion">Dirección:</label>
                            <input type="text" asp-for="Direccion" class="form-control" id="txtDireccion" placeholder="Ingresa tu dirección" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="FechaNacimiento" class="text-danger">
                                    
                            </div>
                            <label for="dpFecha">Fecha de nacimiento:</label>
                            <input type="date" asp-for="FechaNacimiento" class="form-control" id="dpFecha" placeholder="Ingresa tu fecha" required>
                        </div>

                        <div class="form-group col-md-6">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="NumeroTelefono" class="text-danger">
                                    
                            </div>
                            <label for="txtTelefono">Telefono:</label>
                            <input type="text" asp-for="NumeroTelefono" class="form-control" id="txtTelefono" placeholder="Ingresa tu telefono" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="NombreUsuario" class="text-danger">
                                    
                            </div>
                            <label for="txtUsuario">Nombre de usuario:</label>
                            <input type="text" asp-for="NombreUsuario" class="form-control" id="txtUsuario" placeholder="Ingresa tu nombre de usuario" required>
                        </div>

                        <div class="form-group col-md-6">
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <div asp-validation-for="Contrasenia" class="text-danger">
                                    
                            </div>
                            <label for="txtContrasenia">Contraseña:</label>
                            <input type="text" asp-for="Contrasenia" class="form-control" id="txtContrasenia" placeholder="Ingresa tu contraseña" required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="row">
                            <div class="col-6">
                                <input type="submit" class="btn btn-primary b-none ml-2 border-0" value="Registrar">
                            </div>
                            <div class="col-6">
                                <input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index","Home")';"/>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </form>

</div>