@{
    ViewData["Title"] = "Homepage";
}

<div id="sidemenu" class="menu-collapsed">
    <div id="header">
        <div id="title"><span>Nuevo Hogar</span></div>
        <div id="menu-btn">
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
        </div>
    </div>
    <div id="profile">

        <div id="photo"><img src="" alt=""></div>
        <div id="name"><span>Ejemplo</span></div>
        <div id="menu-items">

            <div class="item">
                    <a href="@Url.Action("ConsultarCuenta", "Cuenta")">
                        <div class="icon"><i class="icon ion-md-contact"></i></div>
                        <div class="title"><span>Mi perfil</span></div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="icon"><i class="icon ion-md-chatboxes"></i></div>
                        <div class="title"><span>Chats</span></div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="icon"><i class="icon ion-md-people"></i></div>
                        <div class="title"><span>Comunidad</span></div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="#">
                        <div class="icon"><i class="icon ion-md-paw"></i></div>
                        <div class="title"><span>Refugiados</span></div>
                    </a>
                </div>
            
        </div>
    </div>

</div>

@model List<NuevoHogar.ModeloDTO.Reporte2DTO>

<center><h1>Reportes de la Comunidad</h1></center>

<div class="form-group">
    <p></p>


    <table class= "table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Ubicacion</th>
                <th>Descripcion</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reporte in Model){
                <tr>
                    <td>@reporte.fecha</td>
                    <td>@reporte.ubicacion</td>
                    <td>@reporte.descripcion</td>
                    <td>@reporte.nombreUsuario</td>
                </tr>
            }
        </tbody>
    </table>    
 </div>