@model List<NuevoHogar.ModeloDTO.Reporte2DTO>

@{
    ViewData["Title"] = "Lista de Reportes";
}

<center><h1>Reportes de la Comunidad</h1></center>

<div class="form-group">

    <input type="button" value="Nuevo Reporte" onclick="location.href='@Url.Action("GenerarReporte", "ManejoReporte")';"/>
    
    <p></p>

    <table class= "table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Ubicacion</th>
                <th>Descripcion</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reporte in Model){
                <tr>
                    <td>@reporte.fecha</td>
                    <td>@reporte.ubicacion</td>
                    <td>@reporte.descripcion</td>
                    <td>@reporte.nombreUsuario</td>
                    <td>
                        <a asp-action="EditReporte" class="btn btn-warning" asp-controller="ManejoReporte">Editar</a> |
                        <a asp-action="DeleteReporte" class="btn btn-danger" asp-controller="ManejoReporte">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    

    <p></p>

 </div>